body {
    background-color: whitesmoke;
    text-align: center;
  }
  
  body, input, button {
    font-family: 'Ubuntu', sans-serif;
  }
  
  h1, h2, h3, .nav-link {
    font-family: 'Trocchi', serif;
  }
  
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: #397DDB;
    text-align: right;
    z-index: 1;
  }
  
  #header-img {
    max-width: 100%;
    position: fixed;
    top: -10%;
    left: 0%;
  }
  
  #nav-bar a {
    float: right;
    display: block;
    color: white;
    transition-duration: 0.4s;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #nav-bar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #form {
    margin-top: 55px;
  }
  
  
  #email {
    height: 2em;
    width: 15em;
    border-radius: 1em;
    padding-left: 0.6em;
  }
  
  #submit {
    height: 3em;
    width: 7em;
    border-radius: 1em;
    cursor: pointer;
  }
  
  #features-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #features {
    background-color: #2474E3 ;
    width: 100%;
    border-radius: 4em;
    
  }
  
 #working, #offers {
    margin-top: 0px;
    
  }
  
  .material-icons {
    font-size: 5em;
  }
  
  #video-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
  }
  
  #video {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  #offers-container {
    display: flex;
    justify-content: center;
  }
  
  #offers {
    background-color: grey;
    width: 85%;
    border-radius: 4em;
  }
  
  .offer {
    background-color: lightgray;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 1em;
  }
  
  /*.specs {
    display: inline-flex;
    background-color: blanchedalmond;
    float: center;
    height: 3em;
    width: 6em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 1.5em;
  }*/
  
 
  
  footer {
    width: 100%;
    background-color: #2474E3;
    padding: 0.3em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
  
  footer a {
    text-decoration: none;
    color: black;
    margin-left: 0.5em;
  }
  
  footer p {
    color: #606060;
  }
  
  @media (max-width: 600px) {
    #nav-bar {
      display: none;
    }
  }
  
  @media (min-width: 700px) {
    
    #video-container {
      padding-top: initial;
    }
    
    #video {
      position: static;
      height: 315px;
      width: 560px;
    }
  }